body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbdada;
    color: #424242;
}
header{
	background-color: #424242;
    color: #c2eca5;
    text-align: center;
    padding: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień dla nagłówka */
}
h1{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}
nav{
    background-color: #c9bcbc;
    overflow: hidden;
}
nav a{
    float: left;
    display: block;
    padding: 14px 20px;
    color: #424242;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: 500;
}
nav a:hover{
    background-color: #ffffff;
    color: #424242;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
    flex-wrap: wrap;
}
#lewy{
    width: 48%;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
#lewy h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}
#lewy label{
    display: block;
    margin-bottom: 12px;
    font-size: 1rem;
    color: #666;
}
#lewy input, #lewy select{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #c2eca5;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease;
    box-sizing: border-box;
}
#lewy input:focus, #lewy select:focus{
    border-color: #c2eca5;
    outline: none;
}
#lewy button{
    background-color: #424242;
    color: #c2eca5;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}
#lewy button:hover{
    background-color: #525a4c;
}
#prawy{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#samochod{
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
footer{
    background-color: #424242;
    color: #c2eca5;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
